body {
  background-color: rgb(119, 181, 244);
}

header {
  background-color: rgb(119, 181, 244);
  margin-bottom: auto;
  text-align: center;
}

main {
  background-color: rgb(211, 233, 253);
  border-radius: 10px 100px;
  margin: auto, 50px;
  min-height: 80vh;
  text-align: center;
}

input {
  outline: none;
  border: none;
  height: 40px;
}

.form-button {
  border-radius: 10px;
  color: rgb(15, 15, 15);
  height: 40px;
  background-color: rgb(119, 181, 244);
  outline: none;
  border: none;
  justify-content: space-between;

}

h2 {
  font-family: cursive;
}

.list-container {
  list-style: circle;
  cursor: pointer;
}

.purchased {
  text-decoration: line-through;
  justify-content: space-between;
}
